<div class="row box_list">
  <div class="col-xs-3 col-s-3 col-md-offset-3 col-md-2 list_font_size">
    <h5><%= box.length %> x <%= box.width %> x <%= box.height %></h5>
  </div>
  <div class="col-xs-3 col-s-3 col-md-2 list_font_size">
    <h5><%= '%.2f' % box.dim_weight %></h5>
  </div>
  <div class="col-xs-3 col-s-3 col-md-3 list_font_size">
    Exceeds Girth: <%= box.girth %> | Location: <strong><%= box.location %></strong> | 
      <%= link_to 'Edit', edit_box_path(box) %>
  </div>


</div><!-- /row -->
