  <div class="row box_list">
    <div class="col-xs-3 col-s-3 col-md-offset-3 col-md-2">
      <h5><%= box.length %> x <%= box.width %> x <%= box.height %></h5>
    </div>
    <div class="col-xs-3 col-s-3 col-md-2">
      <h5><%= '%.2f' % box.dim_weight %></h5>
    </div>
    <div class="col-xs-3 col-s-3 col-md-2">
      Box Weight: <%= box.weight %>lbs.<br>
      Exceeds Girth: <%= box.girth %><br>
      Location: <%= box.location %>
    </div>
  </div><!-- /row -->