<%= form_for(@box) do |f| %>
  <% if @box.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@box.errors.count, "error") %> prohibited this box from being saved:</h2>

      <ul>
      <% @box.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="box_form">
    <div class="field">
      <%= f.label :length %><br>
      <%= f.text_field :length %>
    </div><br><br>
    <div class="field">
      <%= f.label :width %><br>
      <%= f.text_field :width %>
    </div><br><br>
    <div class="field">
      <%= f.label :height %><br>
      <%= f.text_field :height %>
    </div><br><br>
    <div class="field">
      <%= f.label :location %><br>
      <%= f.text_field :location %><br><br>
        <strong>Location Legend:</strong>
          <p>A B C D E F G H I <br>DW = Double Walled<br>LRG = Large</p>
    </div><br>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>


<% end %>
