<p id="notice"><%= notice %></p>

<p>
  <strong>Length:</strong>
  <%= @box.length %>
</p>

<p>
  <strong>Width:</strong>
  <%= @box.width %>
</p>

<p>
  <strong>Height:</strong>
  <%= @box.height %>
</p>

<p>
  <strong>Location:</strong>
  <%= @box.location %>
</p>
<strong>
<%= link_to 'Edit This Product', edit_box_path(@box) %> |
<%= link_to 'View All Boxes', boxes_path %> |
<%= link_to 'Create New Box Size', new_box_path %>
</strong>