<%= form_for(@shipment) do |f| %>
  <% if @shipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shipment.errors.count, "error") %> prohibited this shipment from being saved:</h2>

      <ul>
      <% @shipment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inline">
    <div class="field">
      <%= f.label :length, "Length (input longest side)" %>
      <%= f.text_field :length %>
    </div>
    <div class="field">
      <%= f.label :width, "Width" %>
      <%= f.text_field :width %>
    </div>
    <div class="field">
      <%= f.label :height, "Height" %>
      <%= f.text_field :height %>
    </div>
    <div class="field">
      <%= f.check_box :height_check %>            
      <%= f.label "Check if height matters" %>
    </div>
    <div class="actions">
      <%= f.submit("Find the best box!", :class => "btn btn-lg btn-primary btn-block")%>
    </div>
  </div> 
<% end %>
