<br><br>
<%= image_tag "2.png", class: "ninja" %>
<div class="container-fluid shipments">
  <div class="header">
    <h3>Box Ninja</h3>
  </div>
  <div class="row">
    <div class="col-xs-12 col-s-6 col-md-4 col-md-offset-2 area">
      <%= form_for(@shipment) do |f| %>
        <div class="form-inline">
          <div class="field">
            <%= f.label :length, "Length (input longest side)" %>
            <%= f.text_field :length %>
          </div>
          <div class="field">
            <%= f.label :width, "Width" %>
            <%= f.text_field :width %>
          </div>
          <div class="field">
            <%= f.label :height, "Height" %>
            <%= f.text_field :height %>
          </div>
          <div class="field">
            <%= f.check_box :height_check %>            
            <%= f.label "check if height matters" %>
          </div>
          <div class="actions">
            <%= f.submit("Find the best box!", :class => "btn btn-lg btn-primary btn-block")%>
          </div>
          <div class="spinner"></div>
        </div> 
      <% end %><!-- form_for -->
    </div><!-- col -->

    <div class="col-xs-12 col-s-6 col-md-5 area">
      <div>
        <% if @shipment.girth == "yes" %>
          <strong><p class="girth">*Shipment size exceeds girth charge.*</p></strong>
        <% end %>
      </div>
      <div class="solutions">
        <h4>Best Solution:</h4>
          <p><%= @shipment.best_box.gsub(/\n/, "<br><br>").html_safe %></p>
      </div>
    </div><!-- col -->
  </div><!-- row -->
</div><!-- container -->
  
  <div class="box_index_link"><h4><%= link_to 'List of Box Sizes & Create/Edit Sizes', boxes_path %></h4>
  </div>