<div class="container-fluid">

  <div class="shipment_info">
    <p><strong>Shipment Size: </strong><%= @shipment.length %> x <%= @shipment.width %> x <%= @shipment.height %></p>

    <p><strong>Weight: </strong><%= @shipment.weight %> lbs.</p>
    
    <div class="edit_shipment_link">
      <%= link_to 'Edit Shipment Details', edit_shipment_path(@shipment), class: "btn btn-sm btn-success btn-block" %>
    </div>
  </div>

  <div class="solutions">
    <h4>Possible Box Sizes:</h4>
      <p><%= @shipment.best_box.gsub(/\n/, "<br><br>").html_safe %></p>
  </div>

  <div class="new_shipment_link">
    <%= link_to 'Create New Shipment', new_shipment_path(@shipment), class: "btn btn-lg btn-primary btn-block" %><br>
  </div>

</div>
